@model Plus.Infrastructure.IdentityServer.Models.ApiResource.ApiResourceScopeViewModel

    <div class="modal fade modal-child" tabindex="-1" role="dialog" id="addScope">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Add Scope</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

                </div>
                <div class="modal-body">
                    <form asp-action="AddScope">
                        <input type="hidden" asp-for="ApiResourceId"  />
                        <dl class="dl-horizontal">
                            <dd><label asp-for="Scope"></label></dd>
                            <dt>
                                <input asp-for="Scope" class="form-control" />
                                <span asp-validation-for="Scope"></span>
                            </dt>
                            <dd></dd>

                        </dl>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" data-save="modal">Add</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

@section Scripts{ 

    <script>
    $('.modal-child').on('show.bs.modal', function () {
    var modalParent = $(this).attr('data-modal-parent');
    $(modalParent).css('opacity', 0);
    });

    $('.modal-child').on('hidden.bs.modal', function () {
    var modalParent = $(this).attr('data-modal-parent');
    $(modalParent).css('opacity', 1);
    });
    </script>

}