@model Plus.Infrastructure.IdentityServer.Models.ApiResource.ApiResourcePropertyViewModel

<li class="list-group-item">
    <label>
        <strong>@Model.Key</strong>
    </label>
    <label>
        <strong>@Model.Value</strong>
    </label>
</li>