@model Plus.Infrastructure.IdentityServer.Models.ApiResource.ApiResourceSecretViewModel

<li class="list-group-item">
    <label>

        <strong>@Model.Created</strong>
        <strong>@Model.Expiration</strong>

    </label>

    @if (Model.Description != null)
    {
        <div class="consent-description">
            <label for="scopes_@Model.Value">@Model.Description</label>
        </div>
    }

    @if (Model.Type != null)
    {
        <div>
            <label for="scopes_@Model.Value">@Model.Type</label>
        </div>
    }

</li>