@model Plus.Infrastructure.IdentityServer.Models.AddEditIdentityResourceViewModel
@{
    ViewData["Title"] = "Success";
}

<h1>IdentityResource Created Succeccfully</h1>
<div class="alert alert-success">
    <p>
        <a asp-controller="IdentityResource" asp-action="Index">Go to list</a>
    </p>
</div>
