@model Plus.Infrastructure.IdentityServer.Models.ApiResource.AddEditApiResourceViewModel
@{
    ViewData["Title"] = "Success";
}

<h1>ApiResource @ViewBag.message Succeccfully</h1>
<div class="alert alert-success">
    <p>
        <a asp-controller="ApiResource" asp-action="Index">Go to list</a>
    </p>
</div>
