@model Plus.Infrastructure.IdentityServer.Models.Client.DeleteClientViewModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete Client</h1>

<div class="container alert alert-danger">
    <form method="post">
        <input type="hidden" asp-for="Id" />
        <h2>Are you sure for delete?</h2>
        <p>
            <input type="submit" value="Delete" class="btn btn-outline btn-danger" />
            <a asp-page="/Index" class="btn btn-outline btn-info">Cancel</a>
        </p>
    </form>
</div>