@model Plus.Infrastructure.IdentityServer.Models.Client.AddEditClientViewModel
@{
    ViewData["Title"] = "Success";
}

<h1>Client @ViewBag.message Succeccfully</h1>
<div class="alert alert-success">
    <p>
        <a asp-controller="Client" asp-action="Index">Go to list</a>
    </p>
</div>
